[submodule "Plugins/HorizonTweenPlugin"]
	path = Plugins/HorizonTweenPlugin
	url = https://kanohorizonia@dev.azure.com/kanohorizonia/UEHorizonPlugin/_git/HorizonTweenPlugin

[submodule "Build/Base"]
	path = Build/Base
	url = https://dev.azure.com/kanohorizonia/EpicGames/_git/KanoUnrealBuildTool

